# -*- coding: utf-8 -*-
# vim: ft=yaml
---
certmonger:
  certs:
    # use default key/cert storage paths and extensions
    - httpd: {}
    # explicitly specify key and cert paths overriding the default paths and extensions
    - elasticsearch:
      key_location: /etc/elasticsearch/elasticsearch.key.pem
      certificate_location: /etc/elasticsearch/elasticsearch.cert.pem
